/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


@-webkit-keyframes delay {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@-moz-keyframes delay {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@-o-keyframes delay {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

@keyframes delay {
    from {
        background-color: red;
    }

    to {
        background-color: inherit;
    }
}

.delay {
    -webkit-animation: delay 1s infinite; /* Safari 4+ */
    -moz-animation: delay 1s infinite; /* Fx 5+ */
    -o-animation: delay 1s infinite; /* Opera 12+ */
    animation: delay 1s infinite; /* IE 10+ */
}

html {
  position: relative;
  min-height: 100%;
}

body{
    margin-left:5px;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
.table th {
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    color: #000000;
}
.table td {
    border:1px solid black;
    font-size       : 15px;
    font-weight     : normal;
    text-align      : center;
    padding         : 5px;
    color           : #000000;
}

label,input{
    text-align:center;
    font-size:15px;
}



.directInput {
    background: #fffd9c; 
    border:0px solid grey;
    width:98%;
}
.calculateInput {
    background: #a9e285;
    border: 0px solid grey;
    width: 98%;
}
.table_estimate {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 700px;
    border: 1px solid black;
    table-layout: fixed;
}
.table_estimate th{
    font-size:15px;
    width:150px;
    padding-left:10px;
    background : #efeded;
    text-align:center;
    border:1px solid black;
}
    .table_estimate td {
        font-size: 15px;
        text-align: center;
        border: 1px solid black;
    }


#customer{
    width:300px;
}

#table_approval {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position:absolute;
    top:80px;
    left:900px;
}
    #table_approval th {
        border:1px solid black;
        width:150px;
    }
    #table_approval td {
        border: 1px solid black;
        width: 110px;
    }

#table_plant {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: absolute;
    top: 90px;
    left: 500px;
}
#table_plant td {
    border: 1px solid black;
    width: 120px;
    font-size:25px;
    text-align:center;
}

#table_parts_code {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 120px;
    display:none;
}

    #table_parts_code th {
        font-size: 15px;
        background: #d2d2d2;
        border: 1px solid black;
        cursor:pointer;
        text-align:center;
    }

    #table_parts_code td {
        font-size: 15px;
        background: white;
        border: 1px solid black;
        text-align: center;
        padding-right: 10px;
        cursor:pointer;
    }
    #table_parts_code tr:nth-child(odd) td {
        background: #d1e8ff;
    }
    #table_parts_code tr:hover td {
        background: #f7b491;
    }







