body{
    margin-left:0px;
}

label,input{
    text-align:center;
    font-size:15px;
}


.directInput {
    background: #fffd9c; 
    border:0px solid grey;
    width:98%;
    height:98%;
}
.calculateInput {
    background: #a9e285;
    border: 0px solid grey;
    width: 98%;
    height: 98%;
}
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
    border: 1px solid black;
    table-layout: fixed;
}
.table th{
    font-size:15px;
    width:150px;
    height:25px;
    padding:0px;
    padding-left:10px;
    background : #efeded;
    text-align:center;
    border:1px solid black;
}
    .table td {
        padding: 0px;
        font-size: 15px;
        height: 25px;
        text-align: center;
        border: 1px solid black;
    }

#CostId{
 border:0px;
 height:5px;
 font-size:8px;
}

#customer {
    width: 300px;
}

#div_body{
    overflow:auto;
}


#search_code {
    width: 80px;
    height: 35px;
    font-size: 16px;
    border-radius: 7px;
}

#table_approval {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
    #table_approval th {
        border:1px solid black;
        width:150px;
        padding-left:5px;
    }
    #table_approval td {
        border: 1px solid black;
        width: 110px;
        padding-left:5px;
    }

#table_plant {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: absolute;
    top: 90px;
    left: 500px;
}
#table_plant td {
    border: 1px solid black;
    width: 120px;
    font-size:25px;
    text-align:center;
}

#table_parts_code {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 120px;
    display:none;
}

    #table_parts_code th {
        font-size: 15px;
        background: #d2d2d2;
        border: 1px solid black;
        cursor:pointer;
        text-align:center;
    }

    #table_parts_code td {
        font-size: 15px;
        background: white;
        border: 1px solid black;
        text-align: center;
        padding-right: 10px;
        cursor:pointer;
    }
    #table_parts_code tr:nth-child(odd) td {
        background: #d1e8ff;
    }
    #table_parts_code tr:hover td {
        background: #f7b491;
    }



.c2{
    width:90px;
}
#table_process, #table_process_item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    white-space:nowrap;
    background:white;
}

    #table_process th, #table_process_item th {
        border: 1px solid black;
        width: 100px;
        padding-left: 5px;
        font-size:15px;
    }

    #table_process td, #table_process_item td {
        border: 1px solid black;
        width: 110px;
        padding-left: 5px;
        font-size: 15px;
    }

    #table_process_item tr td:first-child + td + td {
        width: 100px;
        text-align: left;
        padding-left: 5px;
        font-size: 15px;
    }
        #table_process_item tr td:first-child + td + td + td {
            width: 60px;
            text-align: center;
            font-size: 15px;
        }

#table_process_list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    white-space: nowrap;
}

    #table_process_list th {
        border: 1px solid black;
        width: 150px;
        padding-left: 5px;
        font-size: 15px;
    }

    #table_process_list td {
        border: 1px solid black;
        width: 110px;
        padding-left: 5px;
        font-size: 15px;
    }

    #table_summary th {
        font-size: 18px;
        background: #FFFFFF;
        border: 1px solid black;
        text-align: left;
        padding-left:5px;
    }

#table_summary td {
    font-size: 18px;
    background: white;
    border: 1px solid black;
    text-align: left;
    padding-right: 10px;
    padding-left: 5px;
}




